[submodule "SPC-Grafeno-Backend"]
	path = SPC-Grafeno-Backend
	url = https://github.com/Data-Team23/SPC-Grafeno-Backend.git
	branch = main

[submodule "SPC-Grafeno-Frontend"]
	path = SPC-Grafeno-Frontend
	url = https://github.com/Data-Team23/SPC-Grafeno-Frontend.git
	branch = main

[submodule "SPC-Grafeno-Machine-Learning"]
	path = SPC-Grafeno-Machine-Learning
	url = https://github.com/Data-Team23/SPC-Grafeno-Machine-Learning.git
	branch = main
